<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
    <form method="POST" action="/data">
        Phone no: <input type="tel" maxlength="10" name="number">
        OTP: <input type="number" name="otp" min="4" max="6" maxlength="6">
        templete: <input type="text" name="temp">
        <button type="submit">submit</button>
    </form>
</body>
</html>